#message-pane {
    background: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    }
}
